body,
html {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background: url(./images/galaxy.gif);
}

h1 {
    color: #eee6e8;
}

input,
select,
button {
    padding: 0.3rem;
    outline: none;
    color: gray;
}

button {
    background: #6c6b6c;
    color: white;
}

.initialPlanet {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    margin-top: 1rem;
    padding: 3rem;
}

.earth {
    object-fit: contain;
    height: 18rem;
}